﻿@{
    ViewBag.Title = "Chaos RG";
}

<div> &nbsp;</div>

<div class="jumbotron">
    <h1>@ChaoticRNG01.Resources.lang.title</h1>
    <p class="lead">@ChaoticRNG01.Resources.lang.lead </p>
</div>

<div class="row">

    <div class="col-md-5 text-justify">
        <h2>@ChaoticRNG01.Resources.lang.LogisticMapTheoryTitle</h2>
        <h4 class="text-justify">
            @ChaoticRNG01.Resources.lang.LogisticMapTheoryContent <a href="https://msdn.microsoft.com/en-us/library/system.random(v=vs.110).aspx"> @ChaoticRNG01.Resources.lang.Random </a>@ChaoticRNG01.Resources.lang.LogisticMapTheoryContent2
            (<a href="http://referencesource.microsoft.com/#mscorlib/system/random.cs,bb77e610694e64ca">@ChaoticRNG01.Resources.lang.Source</a>).
            @ChaoticRNG01.Resources.lang.LogisticMapTheoryContent3 <a href="https://en.wikipedia.org/wiki/Logistic_map">@ChaoticRNG01.Resources.lang.LogisticMap</a> @ChaoticRNG01.Resources.lang.LogisticMapTheoryContent4
        </h4>
    </div>
    <div class="col-md-1">
        &nbsp;
    </div>
    <div class="col-md-6 text-center">
        <h2>@ChaoticRNG01.Resources.lang.ChaoticRandomNumberGeneratorTitle</h2>
        <h3>
            $$
            x_{n+1} = r X_n (1 - X_n ) \\\\ 
            $$
        </h3>
        <h4>
            $$
            @ChaoticRNG01.Resources.lang.ChaoticRandomNumberGeneratorContent
            $$
        </h4>
    </div>
</div>

<div class="row">
    <div class="col-md-5">
        <h2>@ChaoticRNG01.Resources.lang.SingleGeneratorTitle</h2>
        <p>
            @using (Ajax.BeginForm("GetSingle", "Home", new AjaxOptions
            {
                UpdateTargetId = "single",
                HttpMethod = "post",
                AllowCache = false,
                LoadingElementId = "loading",
                InsertionMode = InsertionMode.Replace
            }))
            {
            <div class="text-center">
                <input type="submit" value="@ChaoticRNG01.Resources.lang.Generate" class="btn btn-primary" />
            </div>
            }

            <div class="text-center" id="single">
                <h5 id="loading" hidden>
                    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                </h5>

            </div>

        </p>
    </div>
    <div class="col-md-1">
        &nbsp;
    </div>


    <div class="col-md-6">
        <h2>  @ChaoticRNG01.Resources.lang.MultipleGeneratorTitle   </h2>
        <div style="text-align: center;"><h4>For <b>JSON Format</b> @ChaoticRNG01.Resources.lang.Use: <a href="https://chaos.j0rt3g4.com/api/ChaoticArray" target="_blank">/api/ChaoticArray</a></h4> </div>
        <p>
            @using (Ajax.BeginForm("GetMultiple","Home", new AjaxOptions
            {
                UpdateTargetId = "multiple",
                HttpMethod = "post",
                AllowCache = false,
                LoadingElementId = "mloading",
                InsertionMode = InsertionMode.Replace
            }))
            {
            <div class="text-center">
                <input type="submit" value="@ChaoticRNG01.Resources.lang.GJSON" class="btn btn-primary" />
            </div>
            }

            <div class="text-center" id="multiple">
                <h5 id="mloading" hidden>
                    @*//install font awesome
                        Install-Package FontAwesome*@
                    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                </h5>

            </div>
        </p>
    </div>



    @*<div class="col-md-6">
            <h2> Web Api Json random numbers</h2>
            <a href="@Url.Action("ChaoticArray", "api")">
                <div class="text-center">

                    <div class="btn btn btn-primary">Get JSON</div>
                </div>
            </a>


        </div>*@
</div>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h3 class="text-center">
            <a href="https://bitbucket.org/j0rt3g4/chaoticrandomnumber/src"><i class="fa fa-bitbucket-square fa-3x"></i>https://bitbucket.org/j0rt3g4/chaoticrandomnumber </a>
        </h3>
    </div>

</div>

@section scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    

    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
        TeX: { extensions: ["autoload-all.js"] },
        inlineMath: [['$','$'], ['\\(','\\)']],
        processEscapes: true,
        });
    </script>
}